@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "OnelySans";
  src: url('/Fonts/OnelySans.ttf') format('truetype');
}


@font-face {
  font-family: "Landre";
  src: url('/Fonts/landre-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Jetbrains";
  src: url('/Fonts/JetBrainsMono-Thin.ttf') format('truetype');
}

@font-face {
  font-family: "AzeretMono";
  src: url('/Fonts/AzeretMono-Variable.ttf') format('truetype');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow-1 {
    animation: spin-slow 30s linear infinite;
  }

    .animate-spin-slow-2 {
    animation: spin-slow 60s linear infinite;
  }

    .animate-spin-slow-3 {
    animation: spin-slow 90s linear infinite;
  }

    .animate-spin-slow-4 {
    animation: spin-slow 120s linear infinite;
  }

    .animate-spin-slow-5 {
    animation: spin-slow 150s linear infinite;
  }

    .animate-spin-slow-6 {
    animation: spin-slow 180s linear infinite;
  }

    .animate-spin-slow-reverse-1 {
    animation: spin-slow 30s linear infinite reverse;
  }

    .animate-spin-slow-reverse-2 {
    animation: spin-slow 60s linear infinite reverse;
  }

    .animate-spin-slow-reverse-3 {
    animation: spin-slow 90s linear infinite reverse;
  }

    .animate-spin-slow-reverse-4 {
    animation: spin-slow 120s linear infinite reverse;
  }

    .animate-spin-slow-reverse-5 {
    animation: spin-slow 150s linear infinite reverse;
  }

    .animate-spin-slow-reverse-6 {
    animation: spin-slow 180s linear infinite reverse;
  }
}

:root {
  --background: oklch(0.9751 0.0127 244.2507);
  --foreground: oklch(0.3729 0.0306 259.7328);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3729 0.0306 259.7328);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3729 0.0306 259.7328);
  --primary: oklch(0.7227 0.1920 149.5793);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9514 0.0250 236.8242);
  --secondary-foreground: oklch(0.4461 0.0263 256.8018);
  --muted: oklch(0.9670 0.0029 264.5419);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9505 0.0507 163.0508);
  --accent-foreground: oklch(0.3729 0.0306 259.7328);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.7227 0.1920 149.5793);
  --chart-1: oklch(0.7227 0.1920 149.5793);
  --chart-2: oklch(0.6959 0.1491 162.4796);
  --chart-3: oklch(0.5960 0.1274 163.2254);
  --chart-4: oklch(0.5081 0.1049 165.6121);
  --chart-5: oklch(0.4318 0.0865 166.9128);
  --sidebar: oklch(0.9514 0.0250 236.8242);
  --sidebar-foreground: oklch(0.3729 0.0306 259.7328);
  --sidebar-primary: oklch(0.7227 0.1920 149.5793);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9505 0.0507 163.0508);
  --sidebar-accent-foreground: oklch(0.3729 0.0306 259.7328);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.7227 0.1920 149.5793);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
}


.dark {
  --background: oklch(0.221 0.028 219.979);
  --foreground: oklch(0.940 0.061 111.565);
  --card: oklch(0.221 0.028 219.979);
  --card-foreground: oklch(0.948 0.046 108.630);
  --popover: oklch(0.221 0.028 219.979);
  --popover-foreground: oklch(0.845 0.000 263.283);
  --primary: oklch(0.267 0.049 219.839);
  --primary-foreground: oklch(0.948 0.046 108.630);
  --secondary: oklch(0.267 0.049 219.839);
  --secondary-foreground: oklch(0.948 0.046 108.630);
  --muted: oklch(0.221 0.028 219.979);
  --muted-foreground: oklch(0.948 0.046 108.630);
  --accent: oklch(0.639 0.186 43.859 / 50%);
  --accent-foreground: oklch(0.948 0.046 108.630);
  --destructive: oklch(0.750 0.168 51.167);
  --border: oklch(0.639 0.186 43.859);
  --input: oklch(0.267 0.049 219.839);
  --ring: oklch(0.436 0.111 248.723);
  --chart-1: oklch(0.436 0.111 248.723);
  --chart-2: oklch(0.684 0.085 174.438);
  --chart-3: oklch(0.849 0.105 94.834);
  --chart-4: oklch(0.639 0.186 43.859);
  --chart-5: oklch(0.639 0.186 43.859);
  --sidebar: oklch(0.221 0.028 219.979);
  --sidebar-foreground: oklch(0.948 0.046 108.630);
  --sidebar-primary: oklch(0.639 0.186 43.859);
  --sidebar-primary-foreground: oklch(0.948 0.046 108.630);
  --sidebar-accent: oklch(0.750 0.168 51.167 / 50%);
  --sidebar-accent-foreground: oklch(0.948 0.046 108.630);
  --sidebar-border: oklch(0.5 0 0);
  --sidebar-ring: oklch(0.436 0.111 248.723 / 56%);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.625rem;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.4;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}